# Database Configuration
POSTGRES_USER=alumni_admin
POSTGRES_PASSWORD=super_secret_password_123
POSTGRES_DB=alumni_db

# App Configuration
BACKEND_PORT=8001
DATABASE_URL=postgresql://alumni_admin:super_secret_password_123@db:5432/alumni_db
FRONTEND_URL=http://yourserver:8085
ADMIN_USER=admin
ADMIN_DEFAULTPASSWORD=<the default password>
ADMIN_EMAIL=admin.email@example.com


# Token Settings
TOKEN_EXPIRY_HOURS=24

# Security (change in production!)
SECRET_KEY=change-me-in-production-use-a-real-secret-key

# Email SMTP
# SMTP_SERVER=my.mailserver.com
# SMTP_USER=mailuser
# SMTP_PASSWORD=mailpassword
# SMTP_PORT=465

# hCaptcha (for "Passwort vergessen" CAPTCHA)
# HCAPTCHA_SITE_KEY=your-site-key
# HCAPTCHA_SECRET_KEY=your-secret-key

